@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: "Matter";
  src: url("/fonts/Matter-Medium.woff2") format("woff2"),
    url("/fonts/Matter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/Matter-Regular.woff2") format("woff2"),
    url("/fonts/Matter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

strong {
  @apply text-gray-900;
}

@layer components {
  .bg-gradient-tl-yellow {
    @apply bg-gradient-to-tl from-red-600 to-yellow-400;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-within:outline-none transition duration-300 disabled:ring-0 hover:ring-2 focus:ring-2 focus-within:ring-2 group-hover:ring-2 group-focus:ring-2 hover:ring-yellow-500 focus:ring-yellow-500 focus-within:ring-yellow-500 group-hover:ring-yellow-500 group-focus:ring-yellow-500;
  }

  .focus-ring.danger {
    @apply focus:ring-red-500 hover:ring-red-500 focus-within:ring-red-500 group-hover:ring-red-500 group-focus:ring-red-500 ring-red-500;
  }

  .text-secondary {
    @apply text-gray-600;
  }

  .text-primary {
    @apply text-gray-900
  }

  .text-accent {
    @apply text-yellow-500;
  }

  .bg-primary {
    @apply bg-white;
  }

  .bg-secondary {
    @apply bg-gray-100;
  }

  .bg-inverse {
    @apply bg-black;
  }

  .border-primary {
    @apply border-gray-900;
  }

  .border-secondary {
    @apply border-gray-200;
  }
  .wp-block-image img {
    @apply max-w-full mt-2;
  }
  .wp-block-image.aligncenter {
    @apply text-center;
  }
  .wp-block-image.alignfull img,
  .wp-block-image.alignwide img {
    @apply w-full;
  }
  .wp-block-image .alignleft,
  .wp-block-image .alignright,
  .wp-block-image .aligncenter,
  .wp-block-image.is-resized {
    @apply table ml-0 mr-0;
  }
  .wp-block-image .alignleft > figcaption,
  .wp-block-image .alignright > figcaption,
  .wp-block-image .aligncenter > figcaption,
  .wp-block-image.is-resized > figcaption {
    @apply table-caption;

    caption-side: bottom;
  }

  .wp-block-image .alignleft {
    @apply float-left mr-4;
  }
  .wp-block-image .alignright {
    @apply float-right ml-4;
  }
  .wp-block-image .aligncenter {
    @apply m-auto;
  }

  .wp-block-button a,
  .wp-block-file a.wp-block-file__button {
    @apply bg-yellow-500 text-white no-underline py-2 px-4;
  }

  .wp-block-button a:hover,
  .wp-block-file a.wp-block-file__button:hover {
    @apply bg-yellow-400 cursor-pointer;
  }

  .wp-block-file a:first-of-type {
    @apply mr-4;
  }

  .wp-block-cover {
    @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

    min-height: 430px;
  }

  .wp-block-verse {
    @apply font-sans;
  }

  .wp-block-media-text {
    @apply grid grid-cols-2 gap-4;
  }

  .wp-block-columns {
    @apply columns;
  }
}
.columns {
  columns: 2;
  column-gap: 2em;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: white;
  background: black;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: calc(6px * -1);
}

/* Absolute positioning */
.Tooltip-Tip.top {
  top: calc(30px * -1);
}
/* CSS border triangles */
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: black;
}

/* Absolute positioning */
.Tooltip-Tip.right {
  left: calc(100% + 30px);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.right::before {
  left: calc(6px * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: black;
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc(30px * -1);
}
/* CSS border triangles */
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: black;
}

/* Absolute positioning */
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + 30px);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(6px * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: black;
}
